<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
  This file based on the following file.
  https://raw.githubusercontent.com/checkstyle/checkstyle/checkstyle-8.18/src/main/resources/sun_checks.xml
-->
<module name="Checker">
    <property name="fileExtensions" value="java, properties, xml"/>

    <module name="BeforeExecutionExclusionFileFilter">
<!--
        <property name="fileNamePattern" value=".*JMsvDb\.java$"/>
-->
    </module>
    <module name="SuppressionFilter">
        <property name="file" value="c:/Users/takahams/git/msv-template/master/checkstyle/suppressions.xml"/>
        <property name="optional" value="false"/>
    </module>
<!--
    <module name="JavadocPackage"/>
-->
    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf"/>
    </module>
    <module name="Translation"/>
    <module name="FileLength"/>
    <module name="FileTabCharacter"/>
    <module name="RegexpSingleline">
       <property name="format" value="\s+$"/>
       <property name="minimum" value="0"/>
       <property name="maximum" value="0"/>
       <property name="message" value="Line has trailing spaces."/>
    </module>

    <module name="TreeWalker">
        <!-- 警告抑止フィルター -->
        <module name="SuppressionXpathSingleFilter">
            <property name="files" value=".*src.test.java.*\.java$|.*Test\.java|.*TestUtils\.java"/>
            <property name="checks" value="JavadocPackageCheck|MagicNumberCheck"/>
        </module>

        <!-- 警告抑止コメント -->
        <module name="SuppressionCommentFilter">
            <property name="offCommentFormat" value="// CHECKSTYLE:OFF (\w)" />
            <property name="onCommentFormat" value="// CHECKSTYLE:ON (\w)" />
            <property name="checkFormat" value="$1" />
        </module>

        <module name="JavadocMethod"/>
        <module name="JavadocType"/>
        <module name="JavadocVariable"/>
        <module name="JavadocStyle"/>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports">
            <property name="processJavadoc" value="false"/>
        </module>
        <module name="LineLength">
            <property name="max" value="121"/>
        </module>
        <module name="MethodLength"/>
        <module name="ParameterNumber"/>
        <module name="EmptyForIteratorPad"/>
        <module name="GenericWhitespace"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter">
            <!-- ARRAY_INIT のみ許容する -->
            <property name="tokens" value="AT,INC,DEC,UNARY_MINUS,UNARY_PLUS,BNOT,LNOT,DOT,ARRAY_DECLARATOR,INDEX_OP" />
        </module>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround"/>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <module name="AvoidInlineConditionals"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="HiddenField"/>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MagicNumber"/>
        <module name="MissingSwitchDefault"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="DesignForExtension"/>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier"/>
        <module name="ArrayTypeStyle"/>
        <module name="FinalParameters"/>
        <module name="TodoComment"/>
        <module name="UpperEll"/>
    </module>
</module>
